.application{
    min-width: 600px;
}

.open{
    background-color: #84b084;
    border-color: rgb(101, 116, 75)
}

.closed{
    background-color: rgb(218, 154, 141);
    border-color: rgb(156, 104, 94);
}

.row-contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.card-content{
    gap: 20px;
    margin: 10px;
}