.popo {
   display: flex;
   flex-direction: column;
   height: 100%;
 }

.example-container {
    width: auto;
    height: 95%;
    margin: 10px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }

.user{
   display: flex;
   flex-direction: row;
}

.content {
   flex: 1 1 auto;
   overflow: auto;
 }