<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <p>Filters</p>
    </mat-expansion-panel-header>
    <div class="filters">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(value)]="filtersType">
          <mat-option>All</mat-option>
          <mat-option value="TOADMIN">To Admin</mat-option>
          <mat-option value="TOMEMBER">To Member</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(value)]="filtersStatus">
          <mat-option>All</mat-option>
          <mat-option value="CLOSED">Closed</mat-option>
          <mat-option value="PENDING">Pending</mat-option>
          <mat-option value="APROVED">Aproved</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Submitting User</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="filtersUser" />
        <mat-autocomplete #auto="matAutocomplete">
          @for (user of submittingUsersOptions(); track $index) {
          <mat-option [value]="user"
            ><app-user-profile [username]="user"
          /></mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            [(ngModel)]="filterStart"
          />
          <input matEndDate placeholder="End date" [(ngModel)]="filterEnd" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
@if (isLoading()) {<mat-spinner></mat-spinner>} @else {
<cdk-virtual-scroll-viewport
  itemSize="600px"
  class="scroll-view"
  style="height: 100%"
>
  @for (app of applicationShower(); track app.id) {
  <app-application
    [app]="app"
    [allowVotes]="true"
    (action)="onAction($event,$index)"
  ></app-application>

  }
</cdk-virtual-scroll-viewport>

}
