
  <mat-grid-list cols="4" rowHeight="fit" style="height: 100%;">
    <mat-grid-tile colspan="1" rowspan="4">
      <img [src]="image()" [alt]="image()" />
    </mat-grid-tile>
    @if(isMember()||isAdmin()){
    <mat-grid-tile>
      <mat-grid-tile-header>Submit for a peasant</mat-grid-tile-header>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        Member Submition
      </button>
      <mat-menu #menu="matMenu">
        @for (user of peasants(); track $index) {
        <button (click)="onSubmitUser(user)" mat-menu-item>
          <app-user [username]="user" />
        </button>
        }
      </mat-menu> </mat-grid-tile
    >} @if (isAdmin()) {
    <mat-grid-tile>
      <mat-grid-tile-header>Submit for a member</mat-grid-tile-header>
      <button mat-raised-button [matMenuTriggerFor]="menu">
        Admin Submition
      </button>
      <mat-menu #menu="matMenu">
        @for (user of members(); track $index) {
        <button (click)="onSubmitUser(user)" mat-menu-item>
          <app-user [username]="user" />
        </button>
        }
      </mat-menu>
    </mat-grid-tile>
    }
    <mat-grid-tile class="apps" [rowspan]="(isAdmin()?3:4)" colspan="2">
      <mat-grid-tile-header>Applictions About Me</mat-grid-tile-header>
      @if (myAppliction().length) {
      <cdk-virtual-scroll-viewport itemSize="600px" class="viewport scroll-view">
        @for (application of myAppliction(); track $index) { @if($index){
        <mat-divider style="padding-bottom: 5px;"/>
        }

        <app-application
          (action)="onCloseApp(application.id,$index)"
          class="application"
          [app]="application"
        />

        }
      </cdk-virtual-scroll-viewport>
      } @else {
      <p>No one Submitted an application about you</p>
      }
    </mat-grid-tile>
  </mat-grid-list>
 