:host {
  align-content: center;
}

.col-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.viewport {
  padding-top: 1.5rem;
  overflow-x: auto; /* Horizontal scrolling */
  display: flex;
  height: 80%;
  width: 100%;
  min-width: 300px;
}

.application{
  flex: 0 0 auto;
}