/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  -webkit-mask-image: url(../public/logo-masking.png);
  mask-image: url(../public/logo-masking.png);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.full-height {
  height: 100vh; /* Full viewport height */
}

.scroll-view *{
  margin-bottom: 5px;
}