form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #a0a3a3, #bdc1c1);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.control-column {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control {
  justify-content: space-evenly;
}

.control-buttons{
  gap:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-buttons button {
  height: 2em;
  margin: 5%;
  text-align: center;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

@media (min-width: 600px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 6fr 1fr;
  }
  .control-buttons{
    flex-direction: column;
  }
}

button.login{
  background-color: green;
}
